/* FONTS */

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2'); 
}

/* ROOT */
:root {
    /* colors */
    --colorPrimary: #333333;
    --colorSecondary: #DDDDDD;
    --colorThirdly:#666666;
    /* backgrounds */
    --backgroundPrimary: #fff;
    --backgroundSecondary: #333333;
    /* btn colors */
    --btnColor: #EA625C;
    /* --btnHover: #fff; */
    /* --btnDisabled: #fff; */
    /* fonts */
    --fontFamily: "Roboto", sans-serif;
    /* --fontWeight: 400; */
    /* --fontSize: 12px; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--fontFamily);
    font-weight: var(--fontWeight);
    font-size: var(--fontSize);
    background-color: var(--backgroundPrimary);
    color: var(--colorPrimary);
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

main {
    flex-grow: 1;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    background-color: transparent;
}

/* HEADER STYLE START */
.site-header__wrapper{
    display: flex;
    width: 1000px;
    margin-top: 30px ;
    justify-content: space-between;
    align-items: center;
}
.site-header__title{
    visibility: hidden;
    margin: 0;
}

.site-header__nav-wrapper{
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.site-header__nav-list{
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.site-header__nav-link{
    color: var(--colorPrimary);
    text-align: center;
    font-family: var(--fontFamily);
    font-size: 15px;
    font-weight: 400;
    line-height: 150%; 
}


.site-header__input{
    outline: none;
    /* border: none; */
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
    color: var(--colorThirdly);
    text-align: center;
    font-family: var(--fontFamily);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

/* HEADER STYLE END */

/* MAIN STYLE START */
/*  HERO STYLE START */
.site-hero{
    width: 100%;
    height: 700px;
    margin-top: 80px;
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 500px) -3px;
}

.site-hero__title-wrapper{
    width: 490px;
    margin-top: 170px;
    /* margin-left: 125px; */
    /* margin-right: 245px; */
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.site-hero__title{
    
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 60px */
}

.site-hero__desc{
    color: #777;
    font-family: var(--fontFamily);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; 
}

.site-hero__btn{
    display: flex;
    width: 260px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--btnColor);
    
    color: #FFF;
    text-align: center;
    font-family:var(--fontFamily);
    font-size: 18px;
    font-weight: 700;
    line-height: 150%; /* 27px */
    text-transform: uppercase;
}
/* HERO STYLE END *
/* MAIN STYLE END */
